@model SapBydSync.gen_ledger

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>gen_ledger</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.created_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.changed_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.changed_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jour_item_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jour_item_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jour_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jour_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bus_part_addr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bus_part_addr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.chart_of_act)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chart_of_act)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cus_code1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cus_code1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cus_code2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cus_code2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cus_code3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cus_code3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.debit_credit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.debit_credit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employee_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fiscal_year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fiscal_year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gl_acct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gl_acct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gl_acct_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gl_acct_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.post_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.post_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prod_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prod_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comp_cur_amt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comp_cur_amt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.item_cur_amt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.item_cur_amt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tran_cur_amt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tran_cur_amt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.val_qty_unt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.val_qty_unt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.journal.C_uid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.journal.C_uid)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.C_uid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
